
body{background-color: beige;}



.heading {
  display: flex;
  font-size: 70px;
  justify-content: center;
  background-color: dimgray;
}

nav.location {
  display: flex;
  justify-content: end;
}

ul {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-direction: row;
  /*list-style-type: none;*/
  margin: 0;
  padding: 0;
  gap: 25px;
}
div {
  display: flex;
  background-color: deepskyblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: 600;
  border: solid black 3px
}
.view {
  display: flex;
  justify-content:center;
  margin-top: 95px;
}
